body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.box-container {
  display: flex;
  width: 735px;
  height: 735px;
  flex-wrap: wrap;
  border: 2px solid black;
  background-color: black;
  margin-top: 40px;
  gap: 1px;
}

.gridBox {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: white;
}

.onHover:hover {
  background-color: black;
  opacity: 0.4;
}

.drawnBox {
  background-color: black;
  opacity: 0.5;
}
