body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.box-container {
  display: flex;
  width: 336px;
  flex-wrap: wrap;
  border: 1px solid black;
  margin-top: 40px;
}

.gridBox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid black;
}
